.homepage-petition
  .hidden-sm.hidden-md.hidden-lg
    .homepage-petition-card{ style: "background-image: url(/adelbert.png);" }
      %p.homepage-petition-title Save The Whales

      %p.homepage-petition-description
        Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor sit
        amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor
        sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum
        dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem
        ipsum dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are
        lorem ipsum dolor sit amet.

  .hidden-xs
    .row
      %img.col-xs-2.col-sm-3.homepage-petition-image{ src: '/adelbert.png' }
      %p.col-xs-10.col-sm-9.homepage-petition-title Save The Whales

      %p.homepage-petition-description
        Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor sit
        amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor
        sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum
        dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem
        ipsum dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are
        lorem ipsum dolor sit amet.




.homepage-petition
  .hidden-sm.hidden-md.hidden-lg
    .homepage-petition-card{ style: "background-image: url(/adelbert.png);" }
      %p.homepage-petition-title Provide Stray Cats A Friendly Home

      %p.homepage-petition-description
        Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor sit
        amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor
        sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum
        dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem
        ipsum dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are
        lorem ipsum dolor sit amet.

  .hidden-xs
    .row
      %img.col-xs-2.col-sm-3.homepage-petition-image{ src: '/adelbert.png' }
      %p.col-xs-10.col-sm-9.homepage-petition-title Provide Stray Cats A Friendly Home

      %p.homepage-petition-description
        Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor sit
        amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor
        sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum
        dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem
        ipsum dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are
        lorem ipsum dolor sit amet.
