.homepage-petition
  %img.homepage-petition-image{ src: '#', width: 200, height: 150 }
  %p.homepage-petition-title Save The Whales
  %p.homepage-petition-description
    Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor sit
    amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor
    sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum
    dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem
    ipsum dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are
    lorem ipsum dolor sit amet.

.homepage-petition
  %img.homepage-petition-image{ src: '#', width: 200, height: 150 }
  %p.homepage-petition-title Save The Whales
  %p.homepage-petition-description
    Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor sit
    amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum dolor
    sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem ipsum
    dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are lorem
    ipsum dolor sit amet.  Whales are lorem ipsum dolor sit amet. Whales are
    lorem ipsum dolor sit amet.
