!!! 5
%html
  %head
    %title OneSignature.org
    %link{ rel: 'stylesheet', href: '/stylesheets/bootstrap.min.css' }
    :css
      body {
        background-color: #d9d9d9;
      }
      .header {
         margin: 1em 0 2em;
      }
      .logo-one, .logo-dotorg {
        font-size: 1.5em;
        font-weight: lighter;
        font-variant: small-caps;
        letter-spacing: 3px;
      }
      .logo-signature {
        font-size: 2em;
        font-family: cursive;
        font-variant: normal;
        letter-spacing: normal;
      }
      .homepage-petition {
        margin-bottom: 5em;
      }
      .header-create-petition {
        font-variant: small-caps;
        float: right;
      }

      /* mobile displays a "petition card" instead of the separate things */
      .homepage-petition-card {
        min-height: 300px;
        background-size: cover;
        background-position: center center;
        position: relative;
      }

      .homepage-petition-card .homepage-petition-title {
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
      }

      .homepage-petition-card .homepage-petition-description {
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        padding: 1em;
      }

      .homepage-petition-image {
        margin-bottom: 2em;
      }
      .homepage-petition-title {
        font-size: 48px;
        font-variant: small-caps;
        letter-spacing: 2px;
        text-align: center;
      }
      .homepage-petition-description {
      }
  %body
    .container
      %header.header.row
        .col-xs-6
          .logo
            %span.logo-one> One
            %span.logo-signature> Signature
            %span.logo-dotorg> .org
        .col-xs-6
          %a.header-create-petition{ href: '#' }
            Create a Petition

      .row
        .col-xs-12
          = yield
