- petition.connected_petitions.each do |p|
  .row
    .col-sm-8.col-sm-offset-2.col-xs-12
      .petition
        %section.petition-card
          Petition to
          %i #{p.target}
          %p
            %strong= p.title
          %p= p.description
        %form{ method: 'POST', action: url("/petitions/#{petition.id}/sign")}
          %button.btn.btn-primary{ type: :submit } Sign the Petition
